.header{
	margin: 10px
}
.todoapp{
	font-size: 30px;
}
.title{
	align-items: center;
}
.title-text{
	font-size: 100px;	
	color: rgba(175, 47, 47, 0.15);
}
.new-todo-head{
	flex-direction: row;
	justify-content: space-between;
	align-items: center
}
.new-todo{
	width: 500px;
	height: 75px;
	border: 1px solid #cccccc;
	border-radius: 10px;
	font-size: 30px;	
}
.new-todo-btn {
	width: 150px;
	height: 75px;
	font-size: 30px;
	border-radius: 10px;
	background-color: #09ba07;
	color: #ffffff;
}
.todo-list{
	margin: 0;
	padding: 0;
}
.todo{
	border: 1px solid #ededed;
	border-width: 0;
	border-bottom-width: 1px;
}
.view{
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 10px 20px;
	height: 50px;
}
.view-content{
	width: 500px;
}
.view-content-text{
	text-decoration: line-through;
}
.destroy{
	width: 50px;
	text-align: center;
}
.destroy-icon{
	font-size: 50px;
}
.filters{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer{
	flex-direction: row;
	align-items: center;	
}
.left-item{
	margin-left: 20px;
	color: #777777;
}
.toggle-content{
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 20px 0;
}
.toggle{
	margin-left: 40px;
	padding: 0 20px;
	height: 75px;
	color: #777777;
	font-size: 30px;
	border: 1px solid #cccccc;
	border-radius: 10px;
	background-color: #ffffff;
}
.toggle-active{
	border-color: #dcadad;
}